#header{
    width: 100%;
    position: fixed;
    z-index: 1;
    /* background-color: #eee; */
    -webkit-transition-duration:0.5s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.5s;
    transition-timing-function:ease;
}
#header-container{
    max-width: 1500px;
    margin:0 auto;
}
#h_top{
    width: 100%;
    height: 50px;
}
#h_top a{
    margin-top: 16px;
    margin-left: 16px;
    float:right;
}
#h_bottom{
    width: 100%;
    height: 100px;
}
#h_bottom .logo{
    margin-top: 8px;
    float:left ;
}
#h_bottom .logo img{
    width: 260px;
}
#nav{
    float: right;

}
#nav li{
    padding-top: 16px;
    margin-right: 24px;
    float: left;
}
#nav li:last-child{
    margin-right: 0px;
}
#nav a{
    font-size: 2em;
}
.header-scroll {
    border-bottom:1px solid #eee;
    background-color:rgba(256,256,256,.6);
    -webkit-transition-duration:0.5s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.5s;
    transition-timing-function:ease;
  }
  #full-menu{
    display: none;
    position: absolute;
    top: 0; right: 0;
    width: 20%;
    height: 100vh;
    background-color: rgba(256, 256, 256, .8);
    /* background-color: rgba(0, 0, 0, .8); */
}
#full-menu ul{
    margin-top: 64px;
    /* border: 1px solid red; */
}
#full-menu li{
    line-height: 48px;
    font-size: 1.125em;
    text-align: center;
}

@media screen and (max-width:1500px){
    #header-container{
        width: 95%;
    }
}

@media screen and (max-width:730px){
    #header{
        background-color: #fff;
        /* height: 150px; */
        height: 80px;
        box-sizing: border-box;
    }
    #header-container{
        width: 90%;
    }
    #h_top{
        display: none;
    }
    #h_bottom{
        line-height: 80px;
        text-align: center;
    }
    #h_bottom .logo{
        margin-top: 4px;
    }
    #h_bottom .logo img{
        width: 160px;
    }
    #nav li{
        padding-top: 0px;
        margin-right: 12px;
    }
    #nav a{
        font-size: 1.5em;
    }
}