@import url(./../font/notoSansKR.css);
@import url(./../font/notoSerifKR.css);
*{margin:0; padding:0;}
ul, li, ol{list-style: none;}
a{text-decoration: none; color: #121212;}
body{font-family: "Noto Sans Kr", sans-serif; font-size: 16px; color:#121212; }
body::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #D42D2D; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(164, 30, 30, 0.1);  
}
:root {
    --swiper-theme-color: #D42D2D;
}