/* 각 섹션별 제목 */
main > section > header{
    margin:0 auto;
    width: 100%;
    height: 137px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}
/* 메인 제목 */
main h3.m-title{
    padding-top: 24px;
    padding-bottom: 4px;
    font-size: 2.4em;
    font-family: "NotoSerifKR", sans-serif;
    font-weight: bolder;
    color: #D42D2D;
}
/* 서브 제목 */
main p.m-subtitle{
    margin: 0 auto ;
    position: relative;
    padding-top: 8px;
    padding-bottom: 24px;
    width: 200px;
    font-size: 1.125rem;
    color: #D42D2D;
    border-top: 1px solid #D42D2D;
    box-sizing: border-box;
}
/* 아이템 리스트 - 브랜드, 제목 */
.i_brand{
    margin-bottom: 4px;
    font-size: 0.8rem;
    color: #4a4a4a;
}
.i_title{
    margin-bottom: 4px;
    width: 100%;
    height: 2.625em;
    font-size: 1.125em;
    line-height: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    box-orient: vertical;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.i_title a{
    display: block;
}
.i_title a:hover{
    text-decoration: underline;
}
/* 리스트 버튼, 리뷰 */
main figcaption{
    position: relative;
    margin: 8px;
}
.discount-price{
    font-weight: 600;
    font-size: 1.25em;
}
.cost-price{
    text-decoration: line-through;
    font-size: 0.8em;
    color: #4a4a4a;
}
.discount{
    font-size: 1.5em;
    font-weight: 1000;
    color: #D42D2D;
}
.i_btns{
    margin-top: 8px;
    left: 0px;
    font-size: 0.8em;
}
.i_review{
    margin-top: 8px;
    position: absolute;
    bottom: 0px;right: 0px;
    font-size: 0.8em;
}
/* 버튼 커스터마이징 */
.best-btn{
    padding: 2px 8px;
    background-color: #D42D2D;
    border: 1px solid #D42D2D;
    border-radius: 30px;
    color: white;
}
.new-btn{
    padding: 2px 8px;
    background-color: white;
    outline: 1px solid #121212;
    border-radius: 30px;
    color: #121212;
}
.dandok-btn, .onePone-btn{
    padding: 2px 8px;
    background-color: white;
    outline: 1px solid #D42D2D;
    border-radius: 30px;
    color: #D42D2D;
}
.more-btn{
    margin-bottom: 1%;
    font-family: "NotoSerifKR", sans-serif;
    cursor: pointer;
    color: #D42D2D;
    text-align: right;
    line-height: .9em;
}
.view-btn:hover, .more-btn:hover{
    font-weight: 600;
}
.view-btn{
    width: 120px;
    margin: 0 auto ;
    padding: 8px 20px;
    background-color: #fff;
    border:1px solid #D42D2D;
    border-radius: 100px;
    font-family: "NotoSerifKR", sans-serif;
    color: #D42D2D;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    transition: 0.3s;
}
.view-btn:hover{
    background-color: #D42D2D;
    box-shadow: inset 8em 0 0 0 #D42D2D;
    color: #fff;
}
/* 리뷰 */
.review-star path{
    color: rgb(255, 187, 0);
}
@media screen and (max-width:1000px) {
    .discount-price{
        display: block;
    }
    .i_btns, .i_review{
        position: static;
    }
    .discount{
        font-size: 1.125em;
    }
}
@media screen and (max-width:730px) {
    .i_review{
        position: static;
    }
}
@media screen and (max-width:580px) {
    main h3.m-title{
        width: 90%;
        font-size: 2em;
        margin: 0 auto;
        line-height: 1.25em ;
    }
    .i_title {
        font-size: 1em;
    }
}
