/* 메인 타이틀 제목 */
main > section > header{
    margin:0 auto;
    width: 100%;
    height: 137px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

main h3.m-title{
    padding-top: 24px;
    padding-bottom: 4px;
    font-size: 2.4em;
    font-family: "NotoSerifKR", sans-serif;
    font-weight: bolder;
    color: #D42D2D;
}
/* main p.m-subtitle::before{
    content: '';
    position: absolute;
    top:0 ; 
    width: 80px;
    outline: 1px solid #D42D2D;
} */
main p.m-subtitle{
    margin: 0 auto ;
    position: relative;
    padding-top: 8px;
    padding-bottom: 24px;
    width: 200px;
    font-size: 1.125rem;
    color: #D42D2D;
    border-top: 1px solid #D42D2D;
    box-sizing: border-box;
}
/* 리스트 브랜드, 제목 */
.i_brand{
    margin-bottom: 4px;
    font-size: 0.8rem;
    color: #4a4a4a;
}
.i_title{
    margin-bottom: 4px;
    font-size: 1em;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.i_title a{
    display: block;
}
.i_title a:hover{
    /* font-weight: 400; */
    text-decoration: underline;
}
/* 리스트 버튼, 리뷰 */
main figcaption{
    position: relative;
    margin: 8px;
}
.discount-price{
    font-size: 1.25em;
    font-weight: 600;
}
.cost-price{
    font-size: 0.8em;
    color: #4a4a4a;
    text-decoration: line-through;
}
.discount{
    font-size: 1.5em;
    font-weight: 1000;
    color: #D42D2D;
}
.i_btns{
    margin-top: 8px;
    position: absolute;
    left: 0px;
    font-size: 0.8em;
}
.i_review{
    margin-top: 8px;
    position: absolute;
    right: 0px;
    font-size: 0.8em;
}
.best-btn{
    padding: 2px 8px;
    background-color: #D42D2D;
    border: 1px solid #D42D2D;
    border-radius: 30px;
    color: white;
}
.new-btn{
    padding: 2px 8px;
    background-color: white;
    outline: 1px solid #121212;
    border-radius: 30px;
    color: #121212;
}
.dandok-btn, .onePone-btn{
    padding: 2px 8px;
    background-color: white;
    outline: 1px solid #D42D2D;
    border-radius: 30px;
    color: #D42D2D;
}

.review-star path{
    color: rgb(255, 187, 0);
    /* stroke: rgb(255, 153, 0);
    stroke-width: 1; */
}

/*  */
.more-btn{
    position: absolute;
    margin-top: -24px;
    margin-right: 4%;
    float: right;
    font-family: "NotoSerifKR", sans-serif;
    cursor: pointer;
    color: #D42D2D;
    right: 0;
}
.view-btn:hover, .more-btn:hover{
    font-weight: 600;
}
.view-btn{
    width: 120px;
    margin: 0 auto ;
    padding: 8px 20px;
    background-color: #fff;
    border:1px solid #D42D2D;
    border-radius: 100px;
    font-family: "NotoSerifKR", sans-serif;
    color: #D42D2D;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    transition: 0.3s;
}
.view-btn:hover{
    background-color: #D42D2D;
    box-shadow: inset 8em 0 0 0 #D42D2D;
    color: #fff;
}


@media screen and (max-width:1000px) {
    /* .i_btns, .i_review{
        position: static;
    } */

    .discount{
        font-size: 1.125em;
    }
}


