@media screen and (max-width:1000px) {
    #family-site figcaption{
        display: none;
    }
    #bestNew-items {
        width: 50%;
    }
    #bestNew-items li{
        width: calc(100% / 2 - 8px);
    }
    #main-banner{
        width: 100%;
    }
    #main-banner li{
        background-position: 30% 0 !important;
    }
    #ranking-container{
        flex-direction: column;
    }
    #ranking-chart{
        width: 95%;
        margin: 0 auto;
    }   
    #ranking-chart .tabmenu li{
        padding: 8px 0px
    }
    #ranking-img{
        width: 95%;
        margin: 0 auto;
    }
    #howAbout .swiper-container{
        width: 95%;
    }
    
}
