@media screen and (max-width:1500px){
    #ranking-chart, #howAbout ul, #instagram-items ul{
        margin-left: 4%;
    }
    #ranking-chart{
        width: 60%;
    }
    #ranking-img ul{
        width: 250%;
    }
    #mdPick-container{
        flex-direction: column;
    }
    #mdPick-movie{
        width: 95%;
    }
    #mdPick-items .subtitle, #mdPick-items h4{
        text-align: center;
    }
    #mdPick-items{
        width: 95%;
    }
    #mdPick-items ul{
        width: 100%;
        height: 100%;
        border-top: 1px solid #D42D2D;
        display: flex;
        flex-direction: row;
    }
    #mdPick-items li:first-child{
        border: none;
    }
}