@media screen and (max-width:1000px) {
    #family-site figcaption{
        display: none;
    }
    #bestNew-items {
        width: 50%;
    }
    #bestNew-items li{
        width: calc(100% / 2 - 8px);
    }
    #main-banner{
        width: 100%;
    }
    #main-banner li{
        background-position: 30% 0 !important;
    }
    #ranking-chart{
        width: 90%;
    }   
    
     /*  */
    #footer{
        height: 250px;
        margin-bottom: 1.2vh;
        font-size: 0.9em;
    }
    #fl{
        width: 68.5%;
        height: 250px;
        box-sizing: border-box;
        margin-right: 0px;
    }
    #fl-top .footer-menu{
        width: 98%;
        font-size: 0.85em;
    }
    #fl-bottom ul{
        margin-left: 0%;
        line-height: 24px;
    }
    #fl-bottom .info{
        width: 60%;
    }
    
    #fr{
        width: 30%;
        height: 250px;
        padding: 3% 2%;
        font-size: 0.9em;
        flex-direction: column;
        
        text-align: center;
    }
    #fl-right{
        margin-top: 1vh;
        padding-top: 1vh;
        border-top: 1px solid #ddd;
    }


}
