@media screen and (max-width:1000px) {
    #family-site figcaption{
        display: none;
    }
    #bestNew-items {
        width: 50%;
    }
    #bestNew-items li{
        width: calc(100% / 2 - 8px);
    }
    #main-banner{
        width: 100%;
    }
    #main-banner li{
        background-position: 30% 0 !important;
    }
    #ranking-chart{
        width: 90%;
    }   
}
