@media screen and (max-width:730px) {
    main > section > header{
        height: auto;
    }
    #nav li{
        font-size: 1.125em;
    }
    #visual{
        height: 50vh;
    }
    #visual .swiper-slide{
        width: 100%;
        height: 50vh;
    }
    #visual .swiper-slide:nth-child(1){
        background: url(./../../images/main/visual/visual_mb730.png) no-repeat 30% 0;
        background-size: cover;
    }
    #visual .swiper-slide:nth-child(2){
        background: url(./../../images/main/visual/visual01.jpg) no-repeat 20% 0;
        background-size: cover;
    }
    #visual .swiper-slide:nth-child(3){
        background: url(./../../images/main/visual/visual02.jpg) no-repeat 30% 0;
        background-size: cover;
    }
    #visual .swiper-slide:nth-child(4){
        background: url(./../../images/main/visual/visual03.jpg) no-repeat 30% 0;
        background-size: cover;
    }
    #visual .info{
        width: 100%;
        bottom: 8%; 
        right: 0px; left: 0px;
    }
    #family-site ul{
        /* width: 160%; */
        width: 95%;
        justify-content: start
    }
    #family-site li {
        width: calc(100% / 5 - 1%);
    }
    #recommend-items{
        width: 95%;
    }
    #recommend-items ul{
        margin: 0 auto;
        width: 100%;
        /* flex-wrap: wrap; */
    }
    #recommend li{
        width: calc(100%/2 - 8px);
    }
    #recommend li:nth-child(2n){
        /* margin-right: 0px; */
    }
    #bestNew-container{
        flex-direction: column;
    }
    #bestNew-BigImg{
        margin: 0 auto ;
        width: 95%;
        height: 100vh;
        background-size: cover;
    }
    #bestNew-items{
        margin: 0 auto;
        margin-top: 4%;
        width: 95%;
    }
    #bestNew-items ul{
        margin-left: 0px ;
        width: 100%;
    }
    #bestNew-items li{
        float: left;
        margin-right: 16px;
        width: calc(100% / 2 - 8px);
    }
    #bestNew-items li:nth-child(2n){
        margin-right: 0px;
    }
    /*  */
    #main-banner{
        width: 100%;
        height: 30vh;
    }
    #main-banner li{
        float: left;
        width: 25%;
        height: 30vh;
        cursor: pointer;
    }
    #main-banner .banner-img1{
        background: url(./../../images/main/banner/banner480_1.jpg) no-repeat 0 0 ;
        background-size: cover;
    }
    #main-banner .banner-img2{
        background: url(./../../images/main/banner/banner480_2.jpg) no-repeat 50% 0 ;
        background-size: cover;
    }
    #main-banner .banner-img3{
        background: url(./../../images/main/banner//banner480_3.jpg) no-repeat 50% 0 ;
        background-size: cover;
    }
    #main-banner .banner-img4{
        background: url(./../../images/main/banner//banner480_4.jpg) no-repeat 50% 0 ;
        background-size: cover;
    }
    #todayS-item{
        width: 95%;
    }
    #todayS-item li{
        width: calc(100%/2 - 8px);
    }
    #todayS-item li:nth-child(n) {
        margin-right: 16px;
    }
    #todayS-item li:nth-child(2n){
        margin-left: 0px;
        margin-right: 0px;
    }
    #ranking-container{
        width: 100%;
        flex-direction: column;
        overflow: hidden;
    }
    #ranking-chart{
        margin: 0 auto;
        width: 95%;
    }
    #ranking-img{
        margin-left: 2%;
        width: 95%;
    }
    #ranking-img ul{
        width: 300%;
    }
    #mdPick-movie{
        width: 100%;
        height: 32vh;
    }
    #mdPick-items ul {
        flex-direction: column;
    }
    #mdPick-items li:last-child {
        border-top: 1px solid #D42D2D;
    }
    #howAbout li{
        /* margin-right: 8px; */
        width: calc(100%/4 - 8px);
    }
    #event-container{
        width: 95%;
    }
    #event-container ul{
        flex-direction: column;
    }
    #event-container li:last-child{
        margin-top: 2%;
    }
    #bestReview-items{
        width: 100%;
    }
    #bestReview-items .more-btn{
        margin: 0 5% 2% 0 ;
    }
    #bestReview-items ul{
        margin: 0 auto;
        width: 95%;
    }
    #bestReview-items li{
        margin-right: 8px;
        padding-bottom: 2%;
    }
    #bestReview-items li:nth-child(2n){
        margin-right: 0px;
    }
    #event-container .event-title{
        font-size: 1em;
    }
    #bestReview-bg{
        height: 40vh;
    }
    #instagram-items ul{
        margin-left: 2vw;
        width: 400%;
    }
    #instagram-items li{
        float: left;
        margin-right: 8px;
        padding-bottom: 2vh;
        width: calc(100%/7 - 8px);
    }
    #footer{
        margin: 0 0 0 0;
        height: auto;
        background-color: #3a3a3a;
        text-align: center;
    }
    #fl{
        margin-right: 4px;
        margin: 0 0 0 0;
        float: none;
        width: 100%;
        height: auto;
    }
    #fl-top{
        display: none;
    }
    #fl-bottom{
        margin-top: 0px;
        padding-top: 0px;
        flex-direction: column;
        border-top: none;
    }
    #fl-bottom ul{
        margin-left: 0;
        padding-bottom: 2%;
        line-height: 42px;
        font-size: 1.125em;
    }
    #fl-bottom .info{
        padding-top: 2%;
        margin: 0 auto;
        width: 60%;
        border-top: 1px solid rgba(256, 256, 256, .1);
        font-size: 0.8em;
        color: #aaa;
    }
    #fr{
        float: none;
        margin: 0 0 0 0;
        width: 100%;
        background: none;
        border: none;
        color: #aaa;
    }
    #fl-left a{
        margin-right: 4px;
        line-height: 2em;
        color: #aaa;
    }
    #fl-left a:last-child{
        margin-right: 0px;
    }
    #fl-right{
        border: none;
    }
}
